* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-bottom {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main-1 {
  width: 230px;
  height: 1400px;
  background-color: #63f990;
}

.main-2 {
  width: 500px;
  height: 1400px;
  background-color: #00d122;
}

.main-3 {
  width: 230px;
  height: 1400px;
  background-color: #63f990;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
